.homesection {
  display: flex;
  flex-direction: row;
  /*x-axis*/
  align-items: center;
  background-color: blue;
  width: 100%;
}
.homesection1 {
  width: 70%;
  background-color: red;
  height: calc(100vh - 67px);
  display: flex;
  align-items: center;
  padding: 0px 50px 0px 50px;
}
.homesection1 div > h1 {
  font-weight: 800;
  font-size: 100px;
  line-height: 102px;
  margin: 0px;
}
.homesection2 {
  background-color: turquoise;
  width: 30%;
  height: calc(100vh - 67px);
  display: flex;
  /* y-axis */
  justify-content: center;
}
.homesection2 img {
  width: 300px;
}

.btnShop {
  width: 150px;
  height: 45px;
  color: white;
  background-color: turquoise;
  margin-right: 10px;
  border-radius: 8px;
  border: none;
}
